[access]
	inheritFrom = All-Projects
[project]
	description = Service mesh (Istio) related source codes, which includes the following:\nIstio installation scripts for ONAP\nMSB Istio integration codes\nUI portal codes to facilitate routing rule management\nOther gule scripts for Istio integration
[access "refs/*"]
	owner = group saml/onap-gerrit-msb-service-mesh-committers
	read = group GitHub Replication
